@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-LightItalic.eot');
    src: local('../fonts/Cormorant Light Italic'), local('Cormorant-LightItalic'),
        url('../fonts/Cormorant-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-LightItalic.woff2') format('woff2'),
        url('../fonts/Cormorant-LightItalic.woff') format('woff'),
        url('../fonts/Cormorant-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-BoldItalic.eot');
    src: local('../fonts/Cormorant Bold Italic'), local('Cormorant-BoldItalic'),
        url('../fonts/Cormorant-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-BoldItalic.woff2') format('woff2'),
        url('../fonts/Cormorant-BoldItalic.woff') format('woff'),
        url('../fonts/Cormorant-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-SemiBold.eot');
    src: local('Cormorant SemiBold'), local('Cormorant-SemiBold'),
        url('../fonts/Cormorant-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-SemiBold.woff2') format('woff2'),
        url('../fonts/Cormorant-SemiBold.woff') format('woff'),
        url('../fonts/Cormorant-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-Medium.eot');
    src: local('../fonts/Cormorant Medium'), local('Cormorant-Medium'),
        url('../fonts/Cormorant-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-Medium.woff2') format('woff2'),
        url('../fonts/Cormorant-Medium.woff') format('woff'),
        url('../fonts/Cormorant-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-Regular.eot');
    src: local('../fonts/Cormorant Regular'), local('Cormorant-Regular'),
        url('../fonts/Cormorant-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-Regular.woff2') format('woff2'),
        url('../fonts/Cormorant-Regular.woff') format('woff'),
        url('../fonts/Cormorant-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-MediumItalic.eot');
    src: local('Cormorant Medium Italic'), local('Cormorant-MediumItalic'),
        url('../fonts/Cormorant-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-MediumItalic.woff2') format('woff2'),
        url('../fonts/Cormorant-MediumItalic.woff') format('woff'),
        url('../fonts/Cormorant-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-Italic.eot');
    src: local('../fonts/Cormorant Italic'), local('Cormorant-Italic'),
        url('../fonts/Cormorant-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-Italic.woff2') format('woff2'),
        url('../fonts/Cormorant-Italic.woff') format('woff'),
        url('../fonts/Cormorant-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-Light.eot');
    src: local('Cormorant Light'), local('Cormorant-Light'),
        url('../fonts/Cormorant-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-Light.woff2') format('woff2'),
        url('../fonts/Cormorant-Light.woff') format('woff'),
        url('../fonts/Cormorant-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-SemiBoldItalic.eot');
    src: local('../fonts/Cormorant SemiBold Italic'), local('Cormorant-SemiBoldItalic'),
        url('../fonts/Cormorant-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cormorant-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Cormorant-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Cormorant-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../fonts/Cormorant-Bold.eot');
    src: local('Cormorant Bold'), local('Cormorant-Bold'),
        url('Cormorant-Bold.eot?#iefix') format('embedded-opentype'),
        url('Cormorant-Bold.woff2') format('woff2'),
        url('Cormorant-Bold.woff') format('woff'),
        url('Cormorant-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.eot');
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url('OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('OpenSans-Italic.woff2') format('woff2'),
        url('OpenSans-Italic.woff') format('woff'),
        url('OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: local('../fonts/Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic.eot');
    src: local('../fonts/Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
        url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-BoldItalic.woff') format('woff'),
        url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.eot');
    src: local('../fonts/Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBoldItalic.eot');
    src: local('../fonts/Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
        url('../fonts/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-LightItalic.eot');
    src: local('../fonts/Open Sans Light Italic'), local('OpenSans-LightItalic'),
        url('../fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-LightItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-LightItalic.woff') format('woff'),
        url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.eot');
    src: local('../fonts/Open Sans Bold'), local('OpenSans-Bold'),
        url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBoldItalic.eot');
    src: local('../fonts/Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
        url('../fonts/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
        url('../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold.eot');
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
        url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
        url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.eot');
    src: local('../fonts/Open Sans Light'), local('OpenSans-Light'),
        url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


