:root {
	--container-width: 1174px;
	--container-padding: 32px;

	--font-main: 'Open Sans', sans-serif;
	--font-accent: 'Cormorant', sans-serif;

	--page-bg: rgb(29, 47, 48);
	--text-color: white;
	--accent: #ac182c;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}